<div class= 'container'>
  <div class = 'child'>
    <br>
    <%= image_tag 'library.png', width: '400', height: '300', class: "top_image" %>
    <br>
    <h1>ぷち伝記</h1>
    <div>
        子どもの頃、図書館で読んだ伝記。<br>大人になった今、伝記を読んで偉人について学んでみませんか？<br>※日本の偉人を30人実装しています。（2024/05/04現在）
    </div>
    <br>
    <br>
    <div>
        <%= link_to '読む！', denki_path, class: "btn" %>
    </div>
    <br>
  </div>
</div>