body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* ビューポートの高さに基づく */
    position: relative;
    padding-bottom: 50px; /* フッターの高さ分のパディングを追加 */

    background-image: url('wood.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'メイリオ', 'Meiryo', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: rgb(29,16,16, 0.85);
    position: fixed; /* ここを変更 */
    width: 100%; /* ヘッダーの幅を画面全体に */
    top: 0; /* ヘッダーを常に上に固定 */
    z-index: 10; /* 一番上のレイヤーに設定 */
}

.header_logo a {
    display: inline-block;
    font-size: 23px;
    color: #faebd7;
    padding: 15px;
    text-decoration: none;
    position: static;
}

.header_logo, .credit {
    padding: 0 20px; /* 必要に応じて調整 */
    color: #faebd7;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #faebd7;
    text-align: center;
}

.container {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container h1 {
    font-size: 27px;
    color: #3e2323;
}

.intro {
    font-size: 13px;
}

.child {
    width: 410px;
    height: 600px;
}

.top_image {
    border-radius: 20px;
}

.child h2 {
    font-size: 30px;
    border-top: 1.5px solid #361D1D;
    border-bottom: 1.5px solid #361D1D;
}

.btn {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 45px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border-radius: 80px;
	border-bottom:5px solid #527217;
	background: #7EAB34;
	color: #fff;
    font-size: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: flex;
}

table {
    font-size: 15px;
    border: 3px double #361D1D;
    border-collapse: collapse;
}

table .center {
    text-align: center;
}

table .left {
    text-align: left;
}

th, td {
    border: 1px solid #361D1D;
}

.show_btn {
	display: inline-block;
	text-decoration: none;
	width: auto;
    min-width: 120px; /* 最小幅を指定して、テキストが1行に収まるようにする */
	margin: 0px 10px 40px;
	padding: 1rem 2rem;
	font-weight: bold;
	border-radius: 100px;
	color: #fff;
    font-size: 12px;
}

.other {
    border-bottom: 5px solid #930B11;
	background: #d53840;
}

.share {
    border-bottom: 5px solid #245B77;
	background: #3584ac;
}

.wiki {
    display: block;
    border-bottom: 5px solid #527217;
	background: #7EAB34;
}

.wiki_center {
    display: flex;
    justify-content: center; /* 中央寄せ */
}

.btn:active, .show_btn:active {
    position: relative;
    top: 5px;
    border-bottom: none;
}