body {
    background-image: url('/assets/washi.jpg'); /* 背景画像を設定 */
    background-size: cover; /* 背景画像をいい感じにフィットさせる */
    background-position: center; /* 背景画像を中央に配置 */
    background-repeat: no-repeat; /* 背景画像が繰り返されないようにする */
}

.container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

.container h1 {
    font-size: 35px;
}

.child {
    width: 400px;
    height: 400px;
  }

.btn {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 80px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border-radius: 100vh;
	border-bottom: 7px solid #0686b2;
	background: #27acd9;
	color: #fff;
    font-size: 20px;
}
a.btn_06:hover {
	margin-top: 6px;
	border-bottom: 1px solid #0686b2;
	color: #fff;
}