body {
    background-image: url('/assets/wood.jpg'); /* 背景画像を設定 */
    background-size: cover; /* 背景画像をいい感じにフィットさせる */
    background-position: center; /* 背景画像を中央に配置 */
    background-repeat: no-repeat; /* 背景画像が繰り返されないようにする */
    background-attachment: fixed; /* 背景画像をビューポートに固定 */
}

.container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container h1 {
    font-size: 35px;
    color: #3e2323;
}

.child {
    width: 500px;
    height: 600px;
  }

.child h2 {
    font-size: 40px;
    border-top: 2px solid #361D1D;
    border-bottom: 2px solid #361D1D;
}

.btn {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 80px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border-radius: 100px;
	border-bottom: 7px solid #527217;
	background: #7EAB34;
	color: #fff;
    font-size: 20px;
}
a.btn_06:hover {
	margin-top: 6px;
	border-bottom: 1px solid #0686b2;
	color: #fff;
}

.buttons {
    display: flex;
}

table {
    font-size: 18px;
    border: 3px double #361D1D;
    border-collapse: collapse;
}

table .center {
    text-align: center;
}

table .left {
    text-align: left;
}

th, td {
    border: 1px solid #361D1D;
}

.show_btn {
	display: inline-block;
	text-decoration: none;
	width: 85px;
	margin: 0px 20px 60px;
	padding: 1rem 4rem;
	font-weight: bold;
	border-radius: 100px;
	color: #fff;
    font-size: 15px;
}

.other {
    border-bottom: 5px solid #930B11;
	background: #d53840;
}

.share {
    border-bottom: 5px solid #245B77;
	background: #3584ac;
}

.wiki {
    display: block;
    border-bottom: 5px solid #527217;
	background: #7EAB34;
}

.wiki_center {
    display: flex;
    justify-content: center; /* 中央寄せ */
}